body {
    background: #404040;
    font-family: cambria,arial;
}
h1 {
    font-size: 50px;
    
}
#clr {
    text-align: center;
    color: #00cfe6;
}
input {
    color:gray;
    width: 300px;
    border: white solid 2px;
    background: white;
    border-radius: 4px;
}
div {
    text-align:center;
    width: 600px;
    height: 200px;
    background: #404040;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#button {
    background: #3d9db3;
    color:white;
    height: 30px;
    width: 300px;
    border: #3d9db3;
}
